<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div ng-app="testingApp">
        <div id="countDisplay" ng-controller="countDisplayController">
            Bug Count : {{bugCount}}
            Story Count: {{storyCount}}
            <br>
            <input id="nameInput" ng-model="name">
            <button id="changeNameBtn" ng-click="changeName(name)">change name</button>
            <div id="nameDiv">{{name}}</div>
        </div>
    </div>
  </body>
  <script src="lib/jquery-2.1.3.js"></script>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
</html>
